@import "@/assets/fonts/font-moula.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    /*background: url('@/assets/bg.png');*/
}

* {
    font-family: 'Moula', sans-serif;
    font-weight: 100;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}